body {
    background-color: rgb(231, 231, 231);
    margin-left: 0%;
    margin-right: 0%;
}

/*----------------- HEADER ----------------------*/

#container0  {
    height: 100%;
}
.container1 {
    background-color: rgb(255, 255, 255, 0.2);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
}
a {
    text-decoration: none;
    color: black;
}
.links {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 1;
}
.e-menu {
    position: relative;
    padding: 10px;
    border-radius: 15px;
}
.e-menu:hover {
    background-color: rgba(184, 184, 184, 0.3);
    transition-duration: 2s;
}
#t-menu {
    text-align: center;
}
#btn-sch {
    position: absolute;
    right: 50px;
    bottom: 23px;
    background-color: transparent;
    border-color: transparent;
}
#prd_space {
    right: 50px;
    bottom: 30px;
}
#tnd_space {
    left: 50px;
    bottom: 30px;
}
#tnc_space {
    left: 100px;
    bottom: 30px;
}
#logo_space {
    position: relative;
    bottom: 10px;
}
.containerIMG {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    z-index: 0;
}
.containerIMG ul {
    display: flex;
    padding: 0%;
    width: 400%;

    animation: change 20s infinite;
    animation-direction: alternate;
}
.containerIMG li {
    list-style: none;
    width: 100%;
}
@keyframes change {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.IMG-Sides {
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: 0;
}
.text1-IMG {
    position: absolute;
    margin-top: 20%;
    margin-left: 15%;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
    color: white;
    z-index: 4;
}
.text2-IMG {
    position: absolute;
    margin-top: 25%;
    margin-left: 18%;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
    color: white;
    z-index: 4;
}
/*-------------------------------------------------*/

/*--------------------- MAIN -----------------------*/

/*===============================================*/
/*-----------  HIERBAS AROMATICAS  --------------*/
/*----------------  NOTICIAS   ------------------*/
/*===============================================*/
#Notice-HA {
    background-color: rgb(128, 128, 128, 0.5);
    height: 500px;  
    position: relative;
}
.btn-moveHA {
    width: 70px;
    height: 100px;
    margin-top: 150px;
}
.IMG-MoveHA {
    position: relative;
    left: 3px;
    top: 18px;
}
.CONTENT-HA  {
    float: left;
    margin-left: 15px;
    margin-top: 50px;
}
#H1 {
    height: 400px;
    width: 70px;
}
#H2 {
    height: 400px;
    width: 1030px;
    position: relative;
    left: 40px;
}
#H3 {
    height: 400px;
    width: 570px;
    position: relative;
    left: 40px;
}
#H4 {
    height: 400px;
    width: 70px;
    position: relative;
    left: 60px;
}
#Title-HA {
    margin-top: 80px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.Data-H {
    height: 100px;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(0, 0, 0);
} 
#D-H2 {
    text-align: left;
    font-style: italic;
    text-align: center;
}
/*===============================================*/
/*-------------- HIERBAS AROMATICAS -------------*/
/*===============================================*/
#Title-Hierbas {
    height: 80px;
    margin-bottom: 5px;
    margin-top: 2%;
}
#Title-H {
    font-size: 35px;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    margin-left: 100px;
    position: relative;
    top: 22.5px;
}
#DATA-HERBAL {
    height: 550px;
}
.btn-moveH {
    width: 70px;
    height: 100px;
    margin-top: 150px;
}
#pictH {
    display: none;
}
.IMG-MoveH {
    position: relative;
    left: 3px;
    top: 18px;
}
.CONTENT-H {
    float: left;
    margin-left: 15px;
}
#F-H1 {
    width: 70px;
    height: 400px;
    margin-top: 90px;
}
#F-H2 {
    width: 1630px;
    height: 525px;
}
.BOX-H {
    float: left;
    margin-top: 50px;
    margin-left: 75px;
    height: 400px;
    width: 316px;
    background-color: teal;
}  
#F-H3 {
    width: 70px;
    height: 400px;
    margin-top: 90px;
}
#BOXES-H {
    height: 470px;
}
#BOX-PRH {
    height: 55px;
}
.MBox-H {
    float: left;
    margin-left: 75px;
    height: 55px;
    width: 316px;
}
.D {
    margin: 0%;
    text-align: center;
    font-size: 22px;
}
.WordH {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
/*===============================================*/
/*---------------- CONDIMENTOS ------------------*/
/*----------------  NOTICIAS   ------------------*/
/*===============================================*/
#Notice-MS {
    background-color: rgb(128, 128, 128, 0.5);
    height: 500px;  
    position: relative;
    margin-top: 2%;
}
.btn-moveC {
    width: 70px;
    height: 100px;
    margin-top: 150px;
}
.IMG-MoveC {
    position: relative;
    left: 3px;
    top: 18px;
}
.Content-N  {
    float: left;
    margin-left: 15px;
    margin-top: 50px;
}
#N1 {
    height: 400px;
    width: 70px;
}
#N2 {
    height: 400px;
    width: 1030px;
    position: relative;
    left: 40px;
}
#N3 {
    height: 400px;
    width: 570px;
    position: relative;
    left: 40px;
}
#N4 {
    height: 400px;
    width: 70px;
    position: relative;
    left: 60px;
}
#Title-N {
    margin-top: 80px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.Data-N {
    height: 100px;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(0, 0, 0);
} 
#D-N2 {
    text-align: left;
    font-style: italic;
    text-align: center;
}
/*===============================================*/
/*----------------- CONDIMENTOS -----------------*/
/*===============================================*/
#Title-Condimentos {
    height: 80px;
    margin-bottom: 5px;
    margin-top: 2%;
}
#Title-C {
    font-size: 35px;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    margin-left: 100px;
    position: relative;
    top: 22.5px;
}
#DATA-CONDIMENTS {
    height: 550px;
}
.btn-moveC {
    width: 70px;
    height: 100px;
    margin-top: 150px;
}
#pictC {
    display: none;
}
.IMG-MoveC {
    position: relative;
    left: 3px;
    top: 18px;
}
.CONTENT-C {
    float: left;
    margin-left: 15px;
}
#S-C1 {
    width: 70px;
    height: 400px;
    margin-top: 90px;
}
#S-C2 {
    width: 1630px;
    height: 525px;
}
.BOX-C {
    float: left;
    margin-top: 50px;
    margin-left: 75px;
    height: 400px;
    width: 316px;
    background-color: teal;
}  
#S-C3 {
    width: 70px;
    height: 400px;
    margin-top: 90px;
}
#BOXES-C {
    height: 470px;
}
#BOX-SCP {
    height: 55px;
}
.MBox-C {
    float: left;
    margin-left: 75px;
    height: 55px;
    width: 316px;
}
.C {
    margin: 0%;
    text-align: center;
    font-size: 22px;
}
.WordC {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
/*-------------------------------------------------*/


/*--------------------- FOOTER -----------------------*/
footer {
    margin-top: 2%;
    height: 880px;
}
#boxAD {
    background-color: rgba(209, 209, 209, 0.6);
    height: 500px;
    position: relative;
    top: 50px;
}
#boxLogo {
    height: 450px;
    width: 700px;
    margin-left: 35px;
    position: relative;
    top: 25px;
    float: left;
}
#logoMSinfo {
    height: 450px;
    width: 1000px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 25px;
    float: left;
}
#boxTitleInfo {
    height: 100px;
}
#TitleOf {
    position: relative;
    top: 50px;
    font-size: 35px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
#dataMSlogo {
    height: 300px;
}
#dataLogo {
    position: relative;
    top: 15px;
    left: 25px;
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    margin-left: 120px;
    margin-right: 120px;
    height: 200px;
}
#readUs {
    position: relative;
    left: 750px;
}
#linkUs {
    color: rgb(3, 102, 141);
}
#socEnd {
    margin-top: 150px;
    position: relative;
    bottom: 0%;
    height: 200px;
}
#boxSocial {
    height: 70px;
    text-align: center;
}
.biSoc {
    margin-left: 50px;
    position: relative;
    top: 3px;
}
#dataReg {
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
}
#boxReg {
    height: 50px;
    text-align: center;
}
#RegisterBox {
    height: 25px;
    width: 290px;
    position: relative;
    top: 12.5px;
    font-size: 13px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
}
#btn-reg1 {
    height: 30px;
    font-size: 15px;
    position: relative;
    top: 12.5px;
    left: 10px;
}
#ctnEnd {
    height: 50px;
    margin-bottom: 0%;
    position: relative;
    bottom: 0%;
    background-color: rgb(168, 168, 168, 0.2);
}
#regMarc {
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-left: 30px;
    position: relative;
    top: 15.5px;
}




/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/





@media only screen and (max-width: 1920px){
    header {height: 960px;}
    .container1 {
        height: 83px;
        width: 100%;
    }
    .links {
        font-size: 18px;
    }
    
    main {
    height: 2400px;
}

    /*=============================================*/
    /*=========== HIERBAS AROMATICAS ==============*/
    /*=============================================*/
    .IMG1 {
        display: block;
    }
    .IMG2 {
        display: none;
    }

    /*=============================================*/
    /*================ CONDIMENTOS ================*/
    /*=============================================*/

    .btn-moveCondiments {
        margin-top: 130px;
    }


}






/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/





/*/// Screen size 1630px "Philips*/
@media only screen and (max-width: 1630px){
    body {
        background-color: white;
    }
    header {
        height: 620px;
    }
    .container1 {
        height: 73px;
        width: 100%;
    }
    .links {
        font-size: 12px;
    }
    #ss-logo {
        width: 99px;
        height: 57px;
    }
    main {
        height: 2000px;
    }
    /*=============================================*/
    /*=========== HIERBAS NOTICIAS ================*/
    /*=============================================*/
    #Notice-HA {
        height: 400px;
        margin-top: 10px;
    }
    .IMG-Size {
        height: 300px;
        width: 794px;
    }
    .CONTENT-HA {
        margin-left: 9px;
    }
    #H1, #H2, #H3, #H4 {
        height: 300px;
    }
    .btn-moveHA {
        width: 70px;
        height: 100px;
        margin-top: 90px;
    }
    #H2 {
        margin-top: 1.5%;
        width: 794px;
        height: 300px;
        position: relative;
        top: 30px;
        left: 10px;
    }
    #H3 {
        height: 300px;
        width: 350px;
        position: relative;
        left: 10px;
    }
    #H4 {
        position: relative;
        left: 10px;
    }
    #Title-HA {
        margin-top: 3%;
        font-size: 20px;
    }
    .Data-H {
        font-size: 20px;
    }  
    #D-H2 {
        position: relative;
        top: 15px;
    }
    /*=============================================*/
    /*=========== HIERBAS AROMATICAS ==============*/
    /*=============================================*/
    #Title-Hierbas {
        height: 40px;
        position: relative;
        top: 15px;
    }
    #Title-H {
        font-size: 25px;
        position: relative;
        top: 5px;
    }
    #DATA-HERBAL {
        height: 500px;
    }
    #F-H1 {
        margin-top: 50px;
    }
    #F-H2 {
        width: 1140px;
        height: 405px;
        margin-top: 50px;
    }    
    #F-H3 {
        margin-top: 50px;
    }
    #BOXES-H {
        margin-top: 0px;
        margin-left: 0px;
        height: 355px;
        width: 1140px;
    }
    .BOX-H {
        margin-top: 30px;
        margin-left: 35px;
        height: 300px;
        width: 237px;
    }
    .IMG1 {
        display: none;
    }
    .IMG2 {
        display: block;
    }
    .MBox-H {
        margin-left: 35px;
        height: 55px;
        width: 237px;
    }
    /*=============================================*/
    /*=========== CONDIMENTOS NOTICIAS ============*/
    /*=============================================*/
    #Notice-MS {
        height: 400px;
        margin-top: 10px;
    }
    .IMG-Size-C {
        height: 300px;
        width: 794px;
    }
    .Content-N {
        margin-left: 9px;
    }
    #N1, #N2, #N3, #N4 {
        height: 300px;
    }
    .btn-moveC {
        width: 70px;
        height: 100px;
        margin-top: 90px;
    }
    #N2 {
        margin-top: 1.5%;
        width: 794px;
        height: 300px;
        position: relative;
        top: 30px;
        left: 10px;
    }
    #N3 {
        height: 300px;
        width: 350px;
        position: relative;
        left: 10px;
    }
    #N4 {
        position: relative;
        left: 10px;
    }
    #Title-N {
        margin-top: 3%;
        font-size: 20px;
    }
    .Data-N {
        font-size: 20px;
    }  
    #D-N2 {
        position: relative;
        top: 15px;
    }
    /*=============================================*/
    /*================ CONDIMENTOS ================*/
    /*=============================================*/
    #Title-Condimentos {
        height: 40px;
        position: relative;
        top: 15px;
    }
    #Title-C {
        font-size: 25px;
        position: relative;
        top: 5px;
    }
    #DATA-CONDIMENTS {
        height: 500px;
    }
    #S-C1 {
        margin-top: 50px;
    }
    #S-C2 {
        width: 1140px;
        height: 405px;
        margin-top: 50px;
    }    
    #S-C3 {
        margin-top: 50px;
    }
    #BOXES-C {
        margin-top: 0px;
        margin-left: 0px;
        height: 355px;
        width: 1140px;
    }
    .BOX-C {
        margin-top: 30px;
        margin-left: 65px;
        height: 300px;
        width: 200px;
    }
    .IMG-PRD-Size {
        height: 300px;
        width: 200px;
    }  
    .MBox-C {
        margin-left: 65px;
        height: 55px;
        width: 200px;
    }
    .btn-moveCondiments {
        margin-top: 150px;
    }
    /*=============================================*/
    /*================ ACERCA DE ==================*/
    /*=============================================*/
    footer {
        height: 700px;
    }
    #boxAD {
        background-color: rgba(209, 209, 209);
        height: 360px;
        top: 25px;
    }
    #boxLogo {
        height: 250px;
        width: 350px;
        left: 50px;
    }
    #IMG-About-Size {
        height: 300px;
        width: 450px;
    }
    #logoMSinfo {
        height: 300px;
        width: 700px;
        position: relative;
        top: 25px;
        left: 200px;
    }
    #boxTitleInfo {
        height: 50px;
    }
    #TitleOf {
        position: relative;
        top: 10px;
        font-size: 25px;
    }
    #dataMSlogo {
        height: 200px;
    }
    #dataLogo {
        font-size: 17px;
        height: 100px;
    }
    #readUs {
        left: 450px;
        top: 25px;
        font-size: 13px;
    }
    #linkUs {
        color: rgb(3, 102, 141);
    }
    #socEnd {
        margin-top: 100px;
    }

}



