/*==================================================*/
/*=============== ENCABEZADO SUPERIOR ==============*/
/*==================================================*/
html {
    scroll-behavior: smooth;
}
.container-p1 {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
}

.flot {
    float: left;
}
/*==================================================*/
/*============== PRODUCTOS PRINCIPALES =============*/
/*==================================================*/

#infcont-prd {
    margin-top: 50px;
    height: 200px;
}
#text-inf {
    height: 100px;
    width: 1600px;
    position: relative;
    top: 25px;
    left: 150px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 27px;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
}
#t-ourp {
    text-align: center;
    position: relative;
    top: 35px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.our-p {
    position: relative;
    float: left;
}
.type-products {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 210px;
    left: 50px;
}

#cnt-pbtn {
    height: 50px;
}
.btn-cont {
    width: 600px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
#btnLookPrd1, #btnLookPrd2, #btnLookPrd3 {
    visibility: hidden;
}

#products-cnt {
    height: 1100px;
    background-color: greenyellow;
    display: none;
}
#catg-herb {
    height: 1100px;
    margin-top: 10px;
    padding: 0 0 0 100;
}








/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/

@media only screen and (max-width: 1920px){
#mainp {
    height: 500px;
}
#headerp {
    height: 84px;
}
.container-p1 {
    background-color: rgba(212, 212, 212, 0.5);
    height: 83px;
}
.links {
    font-size: 20px;
}
#prd-ourp {
    height: 150px;
    position: relative;
    top: 30px;
}
#cnt-ourp {
    height: 350px;
}
#t-ourp {
    text-align: center;
    position: relative;
    top: 35px;
    font-size: 30px;
}
.IMG-Size-OP:hover {
    border-color: rgb(156, 156, 156, 0.4);
    border-width: 5px;
    border-style: solid;
}
.BCTN {
    height: 50px;
    width: 600px;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.our-p {
    height: 330px;
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#HerbalSection {
    height: 1200px;
    width: 100%;
}
#CondimentSection {
    height: 1200px;
    width: 100%;
}
#YerbalSection {
    height: 750px;
    width: 100%;
}
#cont-title {
    height: 200px;
    width: 100%;
    background-color: rgb(129, 129, 129);
}
#title-prodct {
    position: relative;
    height: 50px;
    width: 650px;
    top: 45px;
    margin-left: 50px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: "Popins", sans-serif;
}
#cont-boxsearch {
    position: relative;
    height: 40px;
    width: 850px;
    top: 35px;
    margin-left: 50px;
}
#box-search {
    height: 40px;
    width: 850px;
    color: black;
    padding-left: 15px;
    border-color: rgb(194, 194, 194);
    border-width: 3px;
    border-style: solid;
    font-size: 15px;
    background-color: white;
}
#btn-search {
    height: 40px;
    width: 45px;
    position: relative;
    top: 35px;
    left: 5px;
}
#btn-find {
    height: 40px;
    width: 45px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}
#btn-find:hover {
    border-color: rgb(0, 33, 124, 0.4);
}
#cont-allprd {
    height: 950px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
#cont-yerbal {
    height: 500px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.cont-list {
    height: 450px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.prd {
    height: 300px;
    width: 237px;
    margin-top: 30px;
    margin-left: 75px;
}
.prd-name {
    height: 50px;
    width: 237px;
    margin-top: 20px;
    margin-left: 75px;
    background-color: chartreuse;
}
.IMGP1 {
    display: block;
}
.IMGP2 {
    display: none;
}
.text-name {
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
.link-prd {
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}




}
/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/





/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/

@media only screen and (max-width: 1630px){
#mainp {
    height: 515px;
}
#headerp {
        height: 84px;
}
.container-p1 {
    background-color: rgba(231, 231, 231, 0.5);
    height: 83px;
}
#prd_space {font-size: 15px;}
#tnd_space {font-size: 15px;}
#tnc_space {font-size: 15px;}
#t-ourp {
    font-size: 25px;
    top: 15px;
    text-align: center;
}
#infcont-prd {
    margin-top: 0%;
    height: 150px;
}
#text-inf {
    font-size: 18px;
    left: 50px;
    height: 100px;
    width: 1220px;
}
#cnt-ourp {
    height: 240px;
    position: relative;
    bottom: 5%;
}  
#prd-ourp {
    height: 60px;
    position: relative;
    top: -5px;
    }
.our-p {
    width: 420px;
    height: 224px;
}
.IMG-Size-OP {
    width: 420px;
    height: 224px;
}
.IMG-Size-OP:hover {
    border-color: rgb(156, 156, 156, 0.4);
    border-width: 5px;
    border-style: solid;
}
.btn-cont {
    width: 420px;
    height: 50px;
}
.BCTN {
    height: 50px;
    width: 420px;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
#HerbalSection {
    height: 1100px;
    width: 100%;
}
#CondimentSection {
    height: 1100px;
    width: 100%;
}
#YerbalSection {
    height: 650px;
    width: 100%;
}
#cont-title {
    height: 150px;
    width: 100%;
    background-color: rgb(129, 129, 129);
}
#title-prodct {
    position: relative;
    height: 40px;
    width: 500px;
    top: 30px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: "Popins", sans-serif;
}
#cont-boxsearch {
    position: relative;
    height: 40px;
    width: 600px;
    top: 20px;
    margin-left: 50px;
}
#box-search {
    height: 40px;
    width: 600px;
    color: black;
    padding-left: 10px;
    border-color: rgb(194, 194, 194);
    border-width: 2px;
    border-style: solid;
    font-size: 11px;
    background-color: white;
}
#btn-search {
    height: 40px;
    width: 45px;
    position: relative;
    top: 20px;
    left: 5px;
}
#btn-find {
    height: 40px;
    width: 45px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}
#btn-find:hover {
    border-color: rgb(0, 33, 124, 0.4);
}
#cont-allprd {
    height: 900px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
#cont-yerbal {
    height: 450px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.cont-list {
    height: 430px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.prd {
    height: 240px;
    width: 190px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: coral;
}
.IMGP1 {
    display: none;
}
.IMGP2 {
    display: block;
}
.prd-name {
    height: 50px;
    width: 190px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: coral;
}
.text-name {
    height: 30px;
    width: 180px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
}
.link-prd {
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}


}
/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/



/*//////////////////////////////////////////////////////////*/
