.HEADER-MAIN {
    position: relative!important;
}
/*=====================*/
/*=====================*/

/*=========================*/
/*==    CN & PV TITLE    ==*/
/*=========================*/
.SCT-CN-TITLE {
    font-family: Poppins-Bold;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}
/*=========================*/
/*==    CN DATA CONSUL   ==*/
/*=========================*/
.SCT-LI-CN {
    width: 100%;
    text-align: left;
}
.SCT-INPUT {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    font-family: Varela;
    color: rgb(29, 29, 29);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    outline: none;
}
.SCT-ICN {
    height: 50px;
    margin-bottom: 25px;
}
.SCT-TACN {
    height: 100px;
    padding-top: 10px;
    margin-bottom: 25px;
}
.SCT-IBTN-CN {
    width: 50%;
    height: 50px;
    font-family: Varela;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
    outline: none;
    border: none;
    background-color: rgb(69, 69, 69);
}
/*=====================*/
.SCT-CNCALL-TITLE {
    font-family: Poppins-Medium;
    letter-spacing: 1px;
    color: rgb(75, 75, 75);
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
}
.SCT-CN-SP {
    margin-left: 2%;
}
/*=========================*/
/*==     PV2 LOCATION    ==*/
/*=========================*/
.SCT-LI-PV {
    width: 100%;
    text-align: left;
}
.SCT-CN-P {
    margin-top: 25px;
}
/*=========================*/
/*==  PV2 ICON LOCATION  ==*/
/*=========================*/
.fas-icon {
    font-size: 20px;
}
.SCT-CNLIPV-P {
    width: 15%;
}
.SCT-CNPV {
    float: left;
    margin-top: 50px;
}
/*=========================*/
/*==  PV2 DATA LOCATION  ==*/
/*=========================*/
.SCT-CNLIPV-P2 {
    width: 85%;
}
.SCT-PV-TITLE {
    font-family: Poppins-Bold;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    text-transform: uppercase;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 15px;
}
.SCT-PV-STITLE {
    margin-top: 10px;
    margin-bottom: 0;
}
/*==========================*/
/*==   PV2 MAP LOCATION   ==*/
/*==========================*/
.SCT-LI-PV-MAP {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.SCT-DIVPV-MAP {
    width: 100%;
    height: 300px;
    border: 2px rgb(246, 246, 246) solid;
    border-top-left-radius: 15px;
}
.btn-secondary {
    background-color: rgb(246, 246, 246)!important;
    width: 100%!important;
    margin: 0;
    height: 50px!important;
    border: 0!important;
    border-radius: 0!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 15px!important;
    border-top: 0!important;
    color: black!important;
    text-transform: uppercase;
    font-family: Poppins-Medium;
    font-size: 12px!important;
    box-shadow: none!important;
    letter-spacing: 1px;
    text-align: left!important;
    padding-left: 0!important;
}
.btn-secondary:hover {
    color: rgb(75, 75, 75)!important;
    border: 0!important;
    box-shadow: none!important;
}
.btn-text {
    padding-left: 25px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-right: 0px!important;
}
.dropdown-menu {
    width: 100%;
    background-color: rgb(246, 246, 245);
    border: none;
    margin: 0!important;
    font-family: Poppins-Regular;
    font-size: 12px!important;
}
.dropdown-item {
    padding-left: 25px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-right: 0px!important;
}


@media (min-width: 100px) and (max-width: 390px){
    /*=========================*/
    /*==    CN DATA CONSUL   ==*/
    /*=========================*/
    .SCT-CN-TITLE {
        font-size: 17px;
    }
    /*=====================*/
}
@media (min-width: 391px) and (max-width: 575px){
    /*=========================*/
    /*==    CN DATA CONSUL   ==*/
    /*=========================*/
    .SCT-CN-TITLE {
        font-size: 18px;
    }
    /*=====================*/    
}
@media (min-width: 576px) and (max-width: 767px){
    /*=========================*/
    /*==    CN DATA CONSUL   ==*/
    /*=========================*/
    .SCT-CN-TITLE {
        font-size: 19px;
    }
    .SCT-INPUT {
        font-size: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .SCT-IBTN-CN {
        letter-spacing: 1px;
        font-size: 13px;
    }
    .SCT-CNCALL-TITLE {
        font-size: 16px;
    }
    /*=====================*/    
}
@media (min-width: 768px) and (max-width: 991px){
    /*=====================*/
    .SCT-CN-TITLE {
        font-size: 22px;
    }
    /*=========================*/
    /*==    CN DATA CONSUL   ==*/
    /*=========================*/
    .SCT-LI-CN {
        width: 45%;
    }
    .SCT-LI-CN-MAIL {
        margin-right: 10%;
    }
    .SCT-INPUT {
        font-size: 11px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .SCT-TACN {
        padding-top: 15px;
    }
    .SCT-IBTN-CN {
        width: 50%;
        font-size: 12px;
    }
    /*=====================*/      
    .SCT-CN-DIV1 {
        margin-top: 25px;
    }
    .SCT-CNCALL-TITLE {
        font-size: 18px;
    }
    /*=========================*/
    /*==  PV2 ICON LOCATION  ==*/
    /*=========================*/
    .SCT-CNLIPV-P {
        width: 10%;
    }    
    /*=========================*/
    /*==  PV2 DATA LOCATION  ==*/
    /*=========================*/
    .SCT-CNLIPV-P2 {
        width: 90%;
    }   
}
@media (min-width: 992px) and (max-width: 1199px){
    /*=========================*/
    /*==    CN DATA CONSUL   ==*/
    /*=========================*/
    .SCT-CN-TITLE {
        font-size: 20px;
    }
    .SCT-LI-CN {
        width: 45%;
    }
    .SCT-LI-CN-MAIL {
        margin-right: 10%;
    }
    .SCT-INPUT {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .SCT-TACN {
        padding-top: 15px;
    }
    .SCT-IBTN-CN {
        width: 40%;
        letter-spacing: 1px;
        font-size: 13px;
    }
    /*=====================*/      
    .SCT-CN-DIV1 {
        margin-top: 25px;
    }
    .SCT-CNCALL-TITLE {
        font-size: 19px;
    }
    /*=========================*/
    /*==     PV2 LOCATION    ==*/
    /*=========================*/
    .SCT-LI-PV {
        width: 50%;
    }
    /*=========================*/
    /*==  PV2 ICON LOCATION  ==*/
    /*=========================*/
    .SCT-CNLIPV-P {
        width: 12%;
    }    
    /*=========================*/
    /*==  PV2 DATA LOCATION  ==*/
    /*=========================*/
    .SCT-CNLIPV-P2 {
        width: 88%;
    }
    /*==========================*/
    /*==   PV2 MAP LOCATION   ==*/
    /*==========================*/
    .SCT-LI-PV-MAP {
        width: 50%;
        margin-top: 0;
    }
    .SCT-DIVPV-MAP {
        width: 75%;
    }
    .SCT-PVMAP-P {
        width: 75%;
    }
    .dropdown {
        width: 75%!important;
    }
}
@media (min-width: 1200px) and (max-width: 1499px){
    /*=========================*/
    /*==    CN DATA CONSUL   ==*/
    /*=========================*/
    .SCT-CN-TITLE {
        font-size: 24px;
    }
    .SCT-LI-CN {
        width: 45%;
    }
    .SCT-LI-CN-MAIL {
        margin-right: 10%;
    }
    .SCT-INPUT {
        font-size: 13px;
    }
    .SCT-TACN {
        padding-top: 15px;
    }
    .SCT-IBTN-CN {
        width: 45%;
        letter-spacing: 1px;
        font-size: 14px;
    }
    /*=====================*/      
    .SCT-CN-DIV1 {
        margin-top: 25px;
    }
    .SCT-CNCALL-TITLE {
        font-size: 20px;
    }
    /*=========================*/
    /*==     PV2 LOCATION    ==*/
    /*=========================*/
    .SCT-LI-PV {
        width: 50%;
    }   
    /*=========================*/
    /*==  PV2 ICON LOCATION  ==*/
    /*=========================*/
    .SCT-CNLIPV-P {
        width: 7.5%;
    }    
    /*=========================*/
    /*==  PV2 DATA LOCATION  ==*/
    /*=========================*/
    .SCT-CNLIPV-P2 {
        width: 92.5%;
    }
    /*==========================*/
    /*==   PV2 MAP LOCATION   ==*/
    /*==========================*/
    .SCT-LI-PV-MAP {
        width: 50%;
        margin-top: 0;
    }
    .SCT-DIVPV-MAP {
        width: 80%;
    }
    .SCT-PVMAP-P {
        width: 80%;
    }
    .dropdown {
        width: 80%!important;
    }
}
@media (min-width: 1500px) and (max-width: 2000px){
    /*=====================*/
    .SCT-CN-TITLE {
        font-size: 26px;
    }
    /*=========================*/
    /*==    CN DATA CONSUL   ==*/
    /*=========================*/
    .SCT-LI-CN {
        width: 45%;
    }
    .SCT-LI-CN-MAIL {
        margin-right: 10%;
    }
    .SCT-INPUT {
        font-size: 14px;
    }
    .SCT-TACN {
        padding-top: 15px;
    }
    .SCT-IBTN-CN {
        width: 35%;
        font-size: 15px;
    }
    /*=====================*/      
    .SCT-CN-DIV1 {
        margin-top: 25px;
    }
    .SCT-CNCALL-TITLE {
        font-size: 21px;
    }
    /*=========================*/
    /*==     PV2 LOCATION    ==*/
    /*=========================*/
    .SCT-LI-PV {
        width: 50%;
    }
    /*=========================*/
    /*==  PV2 ICON LOCATION  ==*/
    /*=========================*/
    .SCT-CNLIPV-P {
        width: 7.5%;
    }    
    /*=========================*/
    /*==  PV2 DATA LOCATION  ==*/
    /*=========================*/
    .SCT-CNLIPV-P2 {
        width: 92.5%;
    }
    /*==========================*/
    /*==   PV2 MAP LOCATION   ==*/
    /*==========================*/
    .SCT-LI-PV-MAP {
        width: 50%;
        margin-top: 0;
    }
    .SCT-DIVPV-MAP {
        width: 85%;
    }
    .SCT-PVMAP-P {
        width: 85%;
    }
    .dropdown {
        width: 85%!important;
    }
}