* {
    margin: 0;
    padding: 0;
}

/*== FUENTES ==*/
@font-face {
    font-family: Varela;
    src: url(../res/fonts/Varela/Varela-Regular.ttf);
}
@font-face {
    font-family: VarelaRound-Regular;
    src: url(../res/fonts/Varela_Round/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: Merienda-Bold;
    src: url(../res/fonts/Merienda/Merienda-Bold.ttf)
}
@font-face {
    font-family: Merienda-Regular;
    src: url(../res/fonts/Merienda/Merienda-Regular.ttf)
}
@font-face {
    font-family: Poppins-Bold;
    src: url(../res/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-Medium;
    src: url(../res/fonts/Poppins/Poppins-Medium.ttf)
}
/*==================*/
.bodymargin {
    margin-left: 10%;
    margin-right: 10%;
}
.SCT-MARGIN {
    margin-top: 100px;
}
.SCT-P-MARGIN {
    margin-top: 50px;
}
.SCT-TITLE {
    font-family: Poppins-Bold;
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
}
.SCT-STITLE {
    font-family: VarelaRound-Regular;
    color: black;
    letter-spacing: 1px;
}
.SCT-S2TITLE {
    font-family: VarelaRound-Regular;
    color: black;
    letter-spacing: 1px;
}
.SCT-BOX-MARGIN {
    margin-top: 50px;
}
.SCT-UL {
    list-style: none;
}
.SCT-SUPER-LI {
    height: auto;
    width: 45%;
    float: left;
}
.SCT-DIV {
    width: auto;
    height: auto;
    border-radius: 10px;
}
.SCT-DIV-IMG {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.SCT-LI-TOPMARGIN {
    margin-top: 25px;
}
.SCT-LI-SPACE {
    margin-right: 10%;
}
.SCT-BOX-TITLE {
    font-family: Poppins-Medium;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
}
.SCT-BOX-STITLE {
    font-family: Varela;
    letter-spacing: 1px;
    text-align: center;
    color: black;
    margin-top: 10px;
}
.SCT-BOX2-MARGIN {
    height: auto;
    width: 100%;
    margin-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(25, 118, 34, 0.8);
    color: white;
}
.SCT-BOX2-W {
    padding: 25px 25px 25px 25px;
}
.SCT-BOX2-TITLE {
    font-family: Poppins-Medium;
}
.SCT-BOX2-STITLE, .SCT-BOX2-S2TITLE {
    font-family: VarelaRound-Regular;
    margin-top: 25px;
}
.SCT-BOX2-IMG {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
/*======*//*======*//*======*//*======*//*======*/
/*======*/
.SCT-BOX3-MARGIN {
    width: 100%;
    height: auto;
}
.SCT-BOX3-TITLE {
    font-family: Poppins-Medium;
    letter-spacing: 1px;
    font-size: 30px;
}
.SCT-BOX3-STITLE {
    font-family: VarelaRound-Regular;
    letter-spacing: 1px;
    margin-top: 25px;
    font-size: 13px;
    line-height: 25px;
}
/*======*/
.SCT-BOX3-UL {
    margin-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10%;
}
.SCT-BOX3-LI {
    height: auto;
    width: auto;
    text-align: center;
}
.SCT-BOX3-LIMG {
    height: auto;
    width: 100%;
    padding: 10px;
    background-color: rgb(246, 246, 246);
}
.SCT-BOX3-IMG {
    width: 100%;
    height: auto;
}
.SCT-BOX3-LI-TITLE {
    font-family: Poppins-Medium;
    letter-spacing: 1px;
    margin-top: 25px;
}
.SCT-BOX3-LI-STITLE {
    font-family: Varela;
    margin-top: 5px;
    letter-spacing: 1px;
}
/*==================*/

/*=========================================*/
/*================= HEADER ================*/
header {
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}
.navbar {
    background-color: rgb(255, 255, 255)!important;
    padding: 5px!important;
}
#LOGO {
    width: auto;
    height: 70px;
}
.navbar-toggler {
    outline: none!important;
}
.nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-link {
    font-family: Varela;
    font-size: 14px;
    color: rgb(87, 87, 87)!important;
}
@media (min-width: 768px) and (max-width: 991px){
    #LOGO {
        height: 100px;
    }
}
@media (min-width: 992px) and (max-width: 2000px){
    .navbar-collapse {
        margin-left: 50px;
    }
    .nav-item {
        padding-right: 25px;
    }
    .nav-item-2 {
        padding-right: 25px;
    }
}
/*=========================================*/
/*=========================================*/



/*=========================================*/
/*================= MAIN ================*/
#carousel1 {
    position: relative;
    height: 100%;
    width: 100%;
}
.cover {
    margin: 0%;
    padding: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: auto;
    left: 50%;
    transform: translate(-50%);
}
.owl-slide {
    position: relative;
    height: 100vh;
}
.slide-title {
    width: 80%;
    height: auto;
    color: white;
    position: absolute;
    top: 35%;
    font-family: Merienda-Bold;
    text-transform: uppercase;
}
.slide-h1 {
    font-size: 33px;
    line-height: 55px;
}
.slide-h2 {
    font-size: 15px;
    line-height: auto;
}
.cont-fa-go {
    margin-top: 25px;
    width: 46px;
    height: 42px;
}
.cont-fa-gem {
    width: 50px;
    height: 50px;
    border: rgba(255, 255, 255) solid 2px;
    opacity: 0.7;
    text-align: center;
}
.cont-fa-gem:hover {
    border-color: white;
    opacity: 1;
}
.fa-chevron-right {
    color: white;
    position: relative;
    height: 32px!important;
    width: 36px!important;
    top: 7px;
}
/*=====*/
.SCT2-HA {
    height: auto;
    width: auto;
}

@media (min-width: 100px) and (max-width: 390px){
    .SCT-TITLE {
        font-size: 35px;
        line-height: 50px;
    }
    .SCT-STITLE {
        font-size: 15px;
        line-height: 30px;
    }
    .SCT-BOX-MARGIN {
        height: 500px;
    }
    .SCT-S2TITLE {
        font-size: 12px;
        line-height: 20px;
    }
    .SCT-BOX-TITLE {
        font-size: 13px;
    }
    .SCT-BOX-STITLE {
        font-size: 10px;
        line-height: 15px;
    }
    .SCT-BOX2-MARGIN {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .SCT-BOX2-TITLE {
        font-size: 25px;
    }
    .SCT-BOX2-STITLE {
        font-size: 16px;
        line-height: 30px;
    }
    .SCT-BOX2-S2TITLE {
        font-size: 14px;
    }
    /*=======*/
    .SCT-BOX3-TITLE {
        font-size: 35px;
    }
    .SCT-BOX3-STITLE {
        font-size: 15px;
        line-height: 25px;
    }
    /*=======*/
    .SCT-BOX3-UL {
        grid-template-columns: auto auto;
        grid-gap: 10%;
    }
    .SCT-BOX3-LI-TITLE {
        font-size: 14px;
    }
    .SCT-BOX3-LI-STITLE {
        font-size: 12px;
    }
    .SCT-BOX3-LI-5 {
        display: none;
    }
}
@media (min-width: 391px) and (max-width: 575px){
    /*===*/
    .SCT-TITLE {
        font-size: 40px;
        line-height: 65px;
    }
    .SCT-STITLE {
        font-size: 15px;
        line-height: 30px;
    }
    .SCT-BOX-MARGIN {
        height: 550px;
    }
    .SCT-S2TITLE {
        font-size: 12px;
        line-height: 23px;
    }
    .SCT-BOX-TITLE {
        font-size: 13px;
    }
    .SCT-BOX-STITLE {
        font-size: 10px;
        line-height: 15px;
    }
    .SCT-BOX2-TITLE {
        font-size: 27px;
    }
    .SCT-BOX2-STITLE {
        font-size: 17px;
        line-height: 35px;
    }
    .SCT-BOX2-S2TITLE {
        font-size: 14px;
        line-height: 25px;
    }
    /*=======*/
    .SCT-BOX3-TITLE {
        font-size: 35px;
    }
    .SCT-BOX3-STITLE {
        font-size: 15px;
        line-height: 25px;
    }
    /*=======*/
    .SCT-BOX3-UL {
        grid-template-columns: auto auto;
        grid-gap: 10%;
    }
    .SCT-BOX3-LI-TITLE {
        font-size: 14px;
    }
    .SCT-BOX3-LI-STITLE {
        font-size: 12px;
    }
    .SCT-BOX3-LI-5 {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .SCT-BOX-MARGIN {
        height: 600px;
    }
    .SCT-BOX-TITLE {
        font-size: 15px;
    }
    .SCT-BOX-STITLE {
        font-size: 12px;
        line-height: 15px;
    }
    .SCT-BOX2-W {
        padding: 35px 35px 35px 35px;
    }
    .SCT-BOX2-TITLE {
        font-size: 28px;
    }
    .SCT-BOX2-STITLE {
        font-size: 18px;
        line-height: 40px;
    }
    .SCT-BOX2-S2TITLE {
        font-size: 16px;
        line-height: 30px;
    }
    /*=======*/
    .SCT-BOX3-TITLE {
        font-size: 35px;
    }
    .SCT-BOX3-STITLE {
        font-size: 15px;
        line-height: 25px;
    }
    /*=======*/
    .SCT-BOX3-UL {
        grid-template-columns: auto auto auto;
        grid-gap: 10%;
    }
    .SCT-BOX3-LI-TITLE {
        font-size: 13px;
    }
    .SCT-BOX3-LI-STITLE {
        font-size: 11px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .slide-h1 {
        font-size: 50px;
        line-height: 80px;
    }
    .slide-h2 {
        font-size: 20px;
    }
    .cont-fa-go {
        margin-top: 25px;
        width: 50px;
        height: 50px;
    }
    .cont-fa-gem {
        width: 50px;
        height: 50px;
    }
    .fa-chevron-right {
        top: 7px;
        height: 32px!important;
        width: 36px!important;
    }
    /*===*/
    .SCT-TITLE {
        font-size: 45px;
        line-height: 70px;
    }
    .SCT-STITLE {
        width: 55%;
        font-size: 18px;
        line-height: 30px;
    }
    .SCT-BOX-MARGIN {
        height: 700px;
    }
    .SCT-S2TITLE {
        font-size: 14px;
        line-height: 30px;
    }
    .SCT-BOX-TITLE {
        font-size: 17px;
    }
    .SCT-BOX-STITLE {
        font-size: 14px;
        line-height: 15px;
    }
    .SCT-BOX2-W {
        padding: 45px 45px 45px 45px;
    }
    .SCT-BOX2-TITLE {
        font-size: 35px;
    }
    .SCT-BOX2-STITLE {
        font-size: 20px;
        line-height: 40px;
    }
    .SCT-BOX2-S2TITLE {
        font-size: 18px;
        line-height: 35px;
    }
    /*=======*/
    .SCT-BOX3-TITLE {
        font-size: 35px;
    }
    .SCT-BOX3-STITLE {
        font-size: 17px;
        line-height: 25px;
    }
    /*=======*/
    .SCT-BOX3-UL {
        grid-template-columns: auto auto auto;
        grid-gap: 10%;
    }
    .SCT-BOX3-LI-TITLE {
        font-size: 15px;
    }
    .SCT-BOX3-LI-STITLE {
        font-size: 13px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .slide-h1 {
        font-size: 60px;
        line-height: 90px;
    }
    .slide-h2 {
        font-size: 20px;
    }
    .cont-fa-go {
        margin-top: 35px;
        width: 70px;
        height: 70px;
    }
    .cont-fa-gem {
        width: 70px;
        height: 70px;
    }
    .fa-chevron-right {
        top: 12px;
        height: 42px!important;
        width: 46px!important;
    }
    /*===*/
    .SCT-TITLE {
        font-size: 65px;
        line-height: 90px;
    }
    .SCT-STITLE {
        width: 50%;
        font-size: 19px;
        line-height: 35px;
    }
    .SCT-BOX-MARGIN {
        height: 360px;
    }
    .SCT-S2TITLE {
        font-size: 16px;
        line-height: 30px;
    }
    .SCT-SUPER-LI {
        width: 20%;
    }
    .SCT-LI-TOPMARGIN {
        margin-top: 0%;
    }
    .SCT-LI-SPACE2 {
        margin-right: 6%!important;
    }
    .SCT-BOX-TITLE {
        font-size: 17px;
    }
    .SCT-BOX-STITLE {
        font-size: 14px;
        line-height: 25px;
    }
    .SCT-BOX2-TITLE {
        font-size: 25px;
    }
    .SCT-BOX2-STITLE {
        font-size: 17px;
    }
    .SCT-BOX2-S2TITLE {
        font-size: 16px;
    }
    .SCT-BOX2-MARGIN {
        width: 100%;
        height: auto;
    }
    .SCT-BOX2-W {
        float: left;
        width: 50%;
        height: auto;
        text-align: left;
        padding-top: 25px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .SCT-BOX2-IMG {
        height: auto;
        width:50%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
    }
    /*=======*/
    .SCT-BOX3-TITLE {
        font-size: 35px;
    }
    .SCT-BOX3-STITLE {
        font-size: 17px;
        line-height: 25px;
    }
    /*=======*/
    .SCT-BOX3-UL {
        grid-template-columns: auto auto auto auto;
        grid-gap: 10%;
    }
    .SCT-BOX3-LI-TITLE {
        font-size: 15px;
    }
    .SCT-BOX3-LI-STITLE {
        font-size: 13px;
    }
    .SCT-BOX3-LI-5 {
        display: none;
    }
}
@media (min-width: 1200px) and (max-width: 1499px){
    .slide-h1 {
        font-size: 60px;
        line-height: 90px;
    }
    .slide-h2 {
        font-size: 20px;
    }
    .cont-fa-go {
        margin-top: 35px;
        width: 70px;
        height: 70px;
    }
    .cont-fa-gem {
        width: 70px;
        height: 70px;
    }
    .fa-chevron-right {
        top: 12px;
        height: 42px!important;
        width: 46px!important;
    }
    /*===*/
    .SCT-TITLE {
        font-size: 75px;
        line-height: 110px;
    }
    .SCT-STITLE {
        width: 50%;
        font-size: 20px;
        line-height: 40px;
    }
    .SCT-BOX-MARGIN {
        height: 350px;
    }
    .SCT-S2TITLE {
        font-size: 18px;
        line-height: 35px;
    }
    .SCT-SUPER-LI {
        width: 20%;
    }
    .SCT-LI-TOPMARGIN {
        margin-top: 0%;
    }
    .SCT-LI-SPACE2 {
        margin-right: 6%!important;
    }
    .SCT-BOX-TITLE {
        font-size: 17px;
    }
    .SCT-BOX-STITLE {
        font-size: 14px;
        line-height: 25px;
    }
    .SCT-BOX2-TITLE {
        font-size: 30px;
    }
    .SCT-BOX2-STITLE {
        font-size: 19px;
    }
    .SCT-BOX2-S2TITLE {
        font-size: 17px;
        line-height: 30px;
    }
    .SCT-BOX2-MARGIN {
        width: 100%;
        height: auto;
    }
    .SCT-BOX2-W {
        float: left;
        width: 50%;
        height: auto;
        text-align: left;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .SCT-BOX2-IMG {
        height: auto;
        width:50%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
    }
    /*=======*/
    .SCT-BOX3-TITLE {
        font-size: 35px;
    }
    .SCT-BOX3-STITLE {
        font-size: 17px;
        line-height: 25px;
    }
    /*=======*/
    .SCT-BOX3-UL {
        grid-template-columns: auto auto auto auto;
        grid-gap: 10%;
    }
    .SCT-BOX3-LI-TITLE {
        font-size: 16px;
    }
    .SCT-BOX3-LI-STITLE {
        font-size: 14px;
    }
    .SCT-BOX3-LI-5 {
        display: none;
    }
}
@media (min-width: 1500px) and (max-width: 2000px){
    .slide-h1 {
        font-size: 70px;
        line-height: 100px;
    }
    .slide-h2 {
        font-size: 20px;
    }
    .cont-fa-go {
        margin-top: 35px;
        width: 70px;
        height: 70px;
    }
    .cont-fa-gem {
        width: 70px;
        height: 70px;
    }
    .fa-chevron-right {
        top: 12px;
        height: 42px!important;
        width: 46px!important;
    }
    /*===*/
    .SCT-TITLE {
        font-size: 85px;
        line-height: 130px;
    }
    .SCT-STITLE {
        width: 40%;
        font-size: 22px;
        line-height: 45px;
    }
    .SCT-BOX-MARGIN {
        height: 400px;
    }
    .SCT-S2TITLE {
        font-size: 19px;
        line-height: 40px;
    }
    .SCT-SUPER-LI {
        width: 20%;
    }
    .SCT-LI-TOPMARGIN {
        margin-top: 0%;
    }
    .SCT-LI-SPACE2 {
        margin-right: 6%!important;
    }
    .SCT-BOX-TITLE {
        font-size: 19px;
    }
    .SCT-BOX-STITLE {
        font-size: 15px;
        line-height: 30px;
    }
    .SCT-BOX2-TITLE {
        font-size: 40px;
    }
    .SCT-BOX2-STITLE {
        font-size: 22px;
        line-height: 40px;
    }
    .SCT-BOX2-S2TITLE {
        font-size: 18px;
        line-height: 30px;
    }
    .SCT-BOX2-MARGIN {
        width: 100%;
        height: auto;
    }
    .SCT-BOX2-W {
        float: left;
        width: 50%;
        height: auto;
        text-align: left;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .SCT-BOX2-IMG {
        height: auto;
        width:50%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
    }
    /*=======*/
    .SCT-BOX3-TITLE {
        font-size: 35px;
    }
    .SCT-BOX3-STITLE {
        font-size: 17px;
        line-height: 25px;
    }
    /*=======*/
    .SCT-BOX3-UL {
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 5%;
    }
    .SCT-BOX3-LI-TITLE {
        font-size: 18px;
    }
    .SCT-BOX3-LI-STITLE {
        font-size: 16px;
    }
}
/*=========================================*/
/*=========================================*/