/*===================================================*/
/*===================================================*/
/*             CONFIGURACION DE PAGINA               */
/*===================================================*/
/*===================================================*/

html, body {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 0%;
}
header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    z-index: 10;
}
h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 35px;
}

/*========================================*/
/*========================================*/
/*========================================*/

a {
    color: white;
}
#cont_hierbas, #cont_condimentos {
    background-color: rgb(221, 221, 221);
}
.pst {
    position: relative;
}
#BoximgHerb, #BoximgCond, #imgLogoText {
    display: none;
}
.hidderbox {
    display: none;
}

.clor {
    background-color: red;
}



/*=====================*/
/*       HEADER        */
/*=====================*/
#cont-menu-logo {
    height: 80px;
    width: 120px;
    margin: 0px;
    padding: 0px;
}

.nav-link {
    padding-left: 0!important;
    padding-right: 0!important;
    position: relative!important;
    color: rgb(0, 0, 0)!important;
}

.nav-link::after {
    border-top: 2px solid rgb(0, 0, 0)!important;
    content: ""!important;
    position: absolute!important;
    right: 100%!important;
    bottom: 3px!important;
    left: 0!important;
    transition: right .6s cubic-bezier(1.0, 0.7, 0.3, 0.0)!important;
}
.nav-link:hover::after {
    right: 0!important;
}

.navbar, .navbar-dark {
    background-color: rgb(255, 255, 255)!important;
}
.navbar-brand {
    position: relative;
    left: 30px!important;
}
.navbar-nav {
    padding-left: 50px!important;
}
.nav-item {
    color: black;
    font-weight: 500;
}
.form-control {
    border-color: black!important;
    font-weight: 500!important;
}

/*===================================================*/
/*===================================================*/
/*===================================================*/
/*===================================================*/
#carousel1 {
    position: relative;
    height: 100%;
    width: 100%;
}

.cover {
    margin: 0%;
    padding: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: auto;
    left: 50%;
    transform: translate(-50%);
  }


.owl-slide {
    position: relative;
    height: 100vh;
}

.carousel-control-prev, .carousel-control-next {
    width: 6%!important;
    padding: 50px;
}

.carousel-indicators li {
    background-color: rgb(0, 0, 0)!important;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    top: 10px;
}

.carousel-caption {
    color: black!important;
    bottom: 40%!important;
    width: 90%;
    margin-left: 5%;
    left: 0%!important;
}
.carousel-caption > h2 {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}
.text_clor {
    color: white;
}
/*===================================================*/
/*            XS EXTRA SMALL SCREEN PHONES           */
/*===================================================*/
@media (min-width: 100px) and (max-width: 390px){

/*==============================*/
/*   CONFIGURACION DE PAGINA    */
/*==============================*/
.continitial {
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}
.img-fluid {
    width: 100%;
    height: auto;
}
.ctn-btn {
    height: 150px;
    position: relative;
    top: 25px;
    padding: 0px;
}
#cont-menu-logo {
    position: relative;
    left: 30px;
}
.navbar-brand {
    left: 0%!important;
}
.navbar-nav {
    width: 100%!important;
    position: relative!important;
    padding-left: 0px!important;
    flex-direction: row!important;
    display: block!important;
    text-align: center!important;
}

.nav-item {
    display: inline-block!important;
    left: 0%;
    color: black;
    text-align: center;
    font-weight: 500;
    padding-right: 50px;
    padding-left: 50px;
}
#fsearch {
    width: 100%;
    padding-top: 10px;
    text-align: center!important;
    display: block!important;
}
.form-control {
    width: 70%!important;
    display: inline-flex!important;
}
/*······························*/
/*     CONTENIDO DE INICIO      */
/*······························*/
.carousel-caption {
    bottom: 30%!important;
}
.carousel-caption > h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}


/*······························*/
/*     HIERBAS INFORMATION      */
/*              &               */
/*   CONDIMENTOS INFORMATION    */
/*······························*/
#cont_hierbas, #cont_condimentos {
    margin-top: 15%;
    margin-bottom: 5%;
    height: 230px;
    width: 100%;
}


#carousel_Herbs_Sectiom {
    height: 390px;
    width: 100%;
}

.carousel-item > div > h2 {
    text-align: center;
    font-size: 20px;
    padding-top: 30%;
}
/*------ BOXES HIERBAS ------- */
#box_hierbas {
    margin-bottom: 5%;
    height: auto;
    width: 100%;
}
#cont_box0 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}
.box0 {
    width: 100%;
    height: auto;
}
.Herbimgs {
    height: auto;
    width: 100%;
}
.contimgbox {
    width: 80%;
    height: auto;
    margin-left: 10%;
    box-shadow: rgba(134, 134, 134, 0.5) 10px 15px 20px 15px;
}
#box2, #box3, #box4 {
    display: none;
}
#cont_boxText0 {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.boxText {
    width: 100%;
    height: auto;
}
.HRBPLink {
    color: black;
    font-weight: 600;
}
#boxT2, #boxT3, #boxT4 {
    display: none;
}
#bext1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
/*------ BOXES CONDIMENTOS ------- */
#box_condimentos {
    margin-bottom: 5%;
    height: auto;
    width: 100%;
}
#boxbaseCond1 {
    height: 225px;
    width: 100%;
}
#boxbaseCond2 {
    height: 225px;
    width: 100%;
}
#boxbaseCond3, #boxbaseCond4 {
    display: none;
}
.condboximg {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 27.5px;
    box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
}
.condimg {
    width: 100%;
    height: auto;
}

/*···················*/
/*   BOX NOSOTROS    */
/*···················*/
#box_about {
    height: auto;
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 50px;
    box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
}
#logo_contain {
    height: auto;
    width: 100%;
    top: 10px;
}
#imgLogo {
    height: auto;
    padding: 0px;
    text-align: center;
}
#boxlogo {
    margin-left: 10%;
    width: 80%;
    height: auto;
}
#mslogo {
    width: 100%;
    height: auto;
}
#titleAbout, #pxta1, #pxta2 {
    display: none;
}
#pxta3 {
    display: block;
    text-align: center;
    font-size: 15px;
}
/*···················*/
/*   BOX NETWORK     */
/*···················*/
#box_socialnet {
    height: 150px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
}
#socialinks {
    width: 100%;
    height: 50px;
    text-align: center;
}
.imgSNet {
    top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.imgsNetSize {
    width: 22px;
    height: 22px;
}
#registerbox {
    margin-top: 10px;
    height: 80px;
    width: 100%;
    text-align: center;
}
#titleBoxReg {
    font-family: sans-serif;
    font-size: 11px;
    color: black;
}
#formInput {
    position: relative;
    top: 10px;
}
#inputReg {
    width: 50%;
    height: 25px;
    font-size: 10px;
    padding-left: 5px;
    color: rgb(71, 71, 71);
    background-color: rgb(223, 223, 223);
    border-color: transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#inputBtn {
    height: 25px;
    width: 30%;
    font-size: 10px;
    background-color: rgb(223, 223, 223);
    border-color: transparent;
    border-radius: 15px;
}

/*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}

}
@media (min-width: 391px) and (max-width: 575px){

    /*==============================*/
    /*   CONFIGURACION DE PAGINA    */
    /*==============================*/ 
    .continitial {
        position: relative;
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 100%;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    
    .ctn-btn {
        height: 150px;
        position: relative;
        top: 25px;
        padding: 0px;
    }
    .navbar-nav {
        width: 100%!important;
        position: relative!important;
        padding-left: 0px!important;
        flex-direction: row!important;
        display: block!important;
        text-align: center!important;
    }
    
    .nav-item {
        display: inline-block!important;
        left: 0%;
        color: black;
        text-align: center;
        font-weight: 500;
        padding-right: 15px;
        padding-left: 15px;
    }
    #fsearch {
        width: 100%;
        padding-top: 10px;
        text-align: center!important;
        display: block!important;
    }
    .form-control {
        width: 70%!important;
        display: inline-flex!important;
    }

    /*······························*/
    /*     CONTENIDO DE INICIO      */
    /*······························*/
    .carousel-caption {
        bottom: 30%!important;
    }
    .carousel-caption > h2 {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }
    
    /*······························*/
    /*     HIERBAS INFORMATION      */
    /*              &               */
    /*   CONDIMENTOS INFORMATION    */
    /*······························*/
    main {
        margin-top: 10%;
    }
    #cont_hierbas, #cont_condimentos {
        margin-top: 5%;
        margin-bottom: 5%;
        height: 220px;
        width: 100%;
    }


    #carousel_Herbs_Sectiom {
        height: 390px;
        width: 100%;
    }
    
    .carousel-item > div > h2 {
        text-align: center;
        font-size: 20px;
        padding-top: 22%;
    }
    /*------ BOXES HIERBAS ------- */
    #box_hierbas {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    #cont_box0 {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 50px;
    }
    .box0 {
        width: 100%;
        height: auto;
    }
    .Herbimgs {
        height: auto;
        width: 100%;
    }
    .contimgbox {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgba(134, 134, 134, 0.5) 10px 15px 20px 15px;
    }
    #box2, #box3, #box4 {
        display: none;
    }
    #cont_boxText0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    .boxText {
        width: 100%;
        height: auto;
    }
    .HRBPLink {
        color: black;
        font-weight: 600;
    }
    #boxT2, #boxT3, #boxT4 {
        display: none;
    }
    /*------ BOXES CONDIMENTOS ------- */
    #box_condimentos {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    #boxbaseCond1 {
        height: auto;
        width: 100%;
        margin-bottom: 50px;
    }
    #boxbaseCond2 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond3, #boxbaseCond4 {
        display: none;
    }
    .condboximg {
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-top: 27.5px;
        box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
    }
    .condimg {
        width: 100%;
        height: auto;
    }
    /*···················*/
    /*   BOX NOSOTROS    */
    /*···················*/
    #box_about {
        padding-bottom: 50px;
        height: auto;
        width: 100%;
        margin-bottom: 5%;
        margin-top: 10%;
        box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
    }
    #logo_contain {
        height: auto;
        width: 100%;
        top: 10px;
    }
    #imgLogo {
        height: auto;
        padding: 0px;
        text-align: center;
    }
    #boxlogo {
        margin-left: 10%;
        width: 80%;
        height: auto;
    }
    #mslogo {
        width: 100%;
        height: auto;
    }
    #titleAbout, #pxta1, #pxta2 {
        display: none;
    }
    #pxta3 {
        display: block;
        text-align: center;
        font-size: 15px;
    }
    /*···················*/
    /*   BOX NETWORK     */
    /*···················*/
    #box_socialnet {
        height: 150px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #socialinks {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .imgSNet {
        top: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .imgsNetSize {
        width: 32px;
        height: 32px;
    }
    #registerbox {
        margin-top: 10px;
        height: 80px;
        width: 100%;
        text-align: center;
    }
    #titleBoxReg {
        font-family: sans-serif;
        font-size: 13px;
        color: black;
    }
    #formInput {
        position: relative;
        top: 10px;
    }
    #inputReg {
        width: 55%;
        height: 30px;
        font-size: 13px;
        padding-left: 20px;
        color: rgb(71, 71, 71);
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #inputBtn {
        height: 30px;
        width: 30%;
        font-size: 13px;
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-radius: 15px;
    }
    #inputBtn:hover {
        border-color: rgb(60, 90, 56);
        background-color: rgb(230, 230, 230);
    }
    /*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}
}
/*===================================================*/
/*===================================================*/

/*===================================================*/
/*              SM SMALL SCREEN PHONES               */
/*===================================================*/
@media (min-width: 576px) and (max-width: 767px){
    /*==============================*/
    /*   CONFIGURACION DE PAGINA    */
    /*==============================*/
    .continitial {
        position: relative;
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 100%;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }

    .navbar-collapse {
        margin-right: 5px;
    }
    .navbar-brand {
        position: relative;
        left: 0px!important;
    }
    .navbar-nav {
        width: 100%!important;
        position: relative!important;
        padding-left: 0px!important;
        flex-direction: row!important;
        display: block!important;
        text-align: center!important;
    }
    
    .nav-item {
        display: inline-block!important;
        left: 0%;
        color: black;
        text-align: center;
        font-weight: 500;
        padding-right: 50px;
        padding-left: 50px;
    }
    .nav-item > a {
        font-size: 14px;
    }
    #fsearch {
        width: 100%;
        padding-top: 10px;
        text-align: center!important;
        display: block!important;
    }
    .form-control {
        width: 50%!important;
    }
    /*······························*/
    /*     CONTENIDO DE INICIO      */
    /*······························*/
    
    .carousel-caption {
        display: block!important;
        color: black!important;
        bottom: 30%!important;
    }
    
    .carousel-caption > h2 {
        font-size: 60px;
        font-weight: 500;
    }
    
    /*······························*/
    /*     HIERBAS INFORMATION      */
    /*              &               */
    /*   CONDIMENTOS INFORMATION    */
    /*······························*/

    #cont_hierbas, #cont_condimentos {
        margin-top: 15%;
        margin-bottom: 5%;
        height: 380px;
        width: 100%;
    }

    #carousel_Herbs_Sectiom {
        height: 390px;
        width: 100%;
    }
    
    .carousel-item > div > h2 {
        text-align: center;
        font-size: 20px;
        padding-top: 30%;
    }
    /*------ BOXES HIERBAS ------- */
    #box_hierbas {
        margin-bottom: 15%;
        height: auto;
        width: 100%;
    }
    #cont_box0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
        text-align: center;
    }
    .box0 {
        width: 70%;
        height: auto;
    }
    .Herbimgs {
        height: auto;
        width: 100%;
    }
    .contimgbox {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgba(134, 134, 134, 0.5) 10px 15px 20px 15px;
    }
    #box2, #box3, #box4 {
        display: none;
    }
    #cont_boxText0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
        text-align: center;
    }
    .boxText {
        width: 100%;
        height: auto;
    }
    .HRBPLink {
        color: black;
        font-weight: 600;
        font-size: 25px;
    }
    #boxT2, #boxT3, #boxT4 {
        display: none;
    }
    /*------ BOXES CONDIMENTOS ------- */
    #box_condimentos {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    #boxbaseCond1 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond2 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond3, #boxbaseCond4 {
        display: none;
    }
    .condboximg {
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-top: 27.5px;
        box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
    }
    .condimg {
        width: 100%;
        height: auto;
    }
    /*···················*/
    /*   BOX NOSOTROS    */
    /*···················*/
    #box_about {
        height: auto;
        padding-bottom: 50px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
    }
    #logo_contain {
        height: auto;
        width: 100%;
        top: 10px;
    }
    #imgLogo {
        height: auto;
        padding: 0px;
        text-align: center;
    }
    #boxlogo {
        margin-left: 10%;
        width: 80%;
        height: auto;
    }
    #mslogo {
        width: 100%;
        height: auto;
    }
    #titleAbout, #pxta1, #pxta2 {
        display: none;
    }
    #pxta3 {
        display: block;
        text-align: center;
        font-size: 20px;
    }
    /*···················*/
    /*   BOX NETWORK     */
    /*···················*/
    #box_socialnet {
        height: 150px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #socialinks {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .imgSNet {
        top: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .imgsNetSize {
        width: 32px;
        height: 32px;
    }
    #registerbox {
        margin-top: 20px;
        height: 80px;
        width: 100%;
        text-align: center;
    }
    #titleBoxReg {
        font-family: sans-serif;
        font-size: 17px;
        color: black;
    }
    #formInput {
        position: relative;
        top: 20px;
    }
    #inputReg {
        width: 55%;
        height: 40px;
        font-size: 17px;
        padding-left: 25px;
        color: rgb(71, 71, 71);
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #inputBtn {
        height: 40px;
        width: 30%;
        font-size: 17px;
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-radius: 15px;
    }
    #inputBtn:hover {
        border-color: rgb(60, 90, 56);
        background-color: rgb(230, 230, 230);
    }
    /*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}
}
/*===================================================*/
/*===================================================*/

/*===================================================*/
/*              MD MEDIUM SCREEN TABLETS             */
/*===================================================*/
@media (min-width: 768px) and (max-width: 991px){
/*==============================*/
/*   CONFIGURACION DE PAGINA    */
/*==============================*/
.continitial {
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}
.img-fluid {
    width: 100%;
    height: auto;
}

/*······························*/
/*     CONTENIDO DE INICIO      */
/*······························*/
.navbar-collapse {
    margin-right: 5px;
}
.navbar-brand {
    position: relative;
    left: 5px!important;
}

.navbar-nav {
    width: 100%!important;
    position: relative!important;
    padding-left: 0px!important;
    flex-direction: row!important;
    display: block!important;
    text-align: center!important;
}

.nav-item {
    display: inline-block!important;
    left: 0%;
    color: black;
    text-align: center;
    font-weight: 500;
    padding-right: 50px;
    padding-left: 50px;
}
.nav-item > a {
    font-size: 14px;

}
#fsearch {
    width: 100%;
    padding-top: 10px;
    text-align: center!important;
    display: block!important;
}
.form-control {
    width: 50%!important;
}

.carousel-caption {
    bottom: 30%!important;
}
/*······························*/
/*     HIERBAS INFORMATION      */
/*              &               */
/*   CONDIMENTOS INFORMATION    */
/*······························*/
#cont_hierbas, #cont_condimentos {
    margin-top: 10%;
    margin-bottom: 5%;
    height: 330px;
    width: 100%;
}

#carousel_Herbs_Sectiom {
    height: 390px;
    width: 100%;
}

.carousel-item > div > h2 {
    text-align: center;
    font-size: 20px;
    padding-top: 20%;
}

/*------ BOXES HIERBAS ------- */
#box_hierbas {
    margin-bottom: 10%;
    height: auto;
    width: 100%;
}
.HRBPLink {
    color: black;
    font-weight: 600;
    font-size: 23px;
}
.Herbimgs {
    height: auto;
    width: 100%;
}
.contimgbox {
    width: 80%;
    height: auto;
    margin-left: 10%;
    box-shadow: rgba(134, 134, 134, 0.5) 10px 15px 20px 15px;
}
@media (min-width: 768px) and (max-width: 809px){
    #cont_box0 {
        width: 100%;
        height: auto;
    }
    .box0 {
        width: 99%;
        height: auto;
        border-right: rgb(0, 0, 0) 1px solid;
        float: left;
    }
    #box2 {
        border-right: none;
    }
    #box3, #box4 {
        display: none;
    }
    #cont_boxText0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .boxText {
        height: auto;
        float: left;
        text-align: center;
    }
    #boxT3, #boxT4 {
        display: none;
    }
}
@media (min-width: 810px) and (max-width: 991px){
    #cont_box0 {
        width: 100%;
        height: auto;
    }
    .box0 {
        width: 99%;
        height: auto;
        border-right: rgb(0, 0, 0) 1px solid;
        float: left;
    }
    #box2 {
        border-right: none;
    }
    #box3, #box4 {
        display: none;
    }
    #cont_boxText0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .boxText {
        height: auto;
        float: left;
        text-align: center;
    }
    #boxT3, #boxT4 {
        display: none;
    }
}
/*------ BOXES CONDIMENTOS ------- */
#box_condimentos {
    margin-bottom: 5%;
    height: auto;
    width: 100%;
}
#boxbaseCond1 {
    height: auto;
    width: 100%;
}
#boxbaseCond2 {
    height: auto;
    width: 100%;
    border-right: none;
}
#boxbaseCond3, #boxbaseCond4 {
    display: none;
}
.line {
    border-right: rgb(194, 194, 194) 1px solid;
}
.condboximg {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 27.5px;
    box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
}
.condimg {
    width: 100%;
    height: auto;
}
/*···················*/
/*   BOX NOSOTROS    */
/*···················*/
#box_about {
    background-color: rgb(255, 255, 255);
    height: 340px;
    width: 100%;
    margin-bottom: 5%;
    box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
}
#logo_contain {
    height: 320px;
    width: 90%;
    margin-left: 5%;
    top: 10px;
}
#imgLogo {
    height: auto;
    top: 33.5px;
    padding: 0px;
    float: left;
}
#mslogo {
    width: 100%;
    height: auto;
}
#imgLgText {
    height: 300px;
    float: left;
    top: 10px;
    text-align: center;
    padding-top: 7%;
}
#titleAbout {
    color: black;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}
.pxta {
    font-family: sans-serif;
    font-size: 15px;
}
#pxta1 {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
#pxta2 {
    display: none;
}
#pxta3 {
    position: relative;
    bottom: 15px;
}
/*···················*/
/*   BOX NETWORK     */
/*···················*/
#box_socialnet {
    height: 150px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
}
#socialinks {
    width: 100%;
    height: 50px;
    text-align: center;
}
.imgSNet {
    top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.imgsNetSize {
    width: 32px;
    height: 32px;
}
#registerbox {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    text-align: center;
}
#titleBoxReg {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
#formInput {
    position: relative;
    top: 20px;
}
#inputReg {
    width: 55%;
    height: 50px;
    font-size: 20px;
    padding-left: 45px;
    color: rgb(71, 71, 71);
    background-color: rgb(223, 223, 223);
    border-color: transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#inputBtn {
    height: 50px;
    width: 30%;
    font-size: 20px;
    background-color: rgb(223, 223, 223);
    border-color: transparent;
    border-radius: 15px;
}
#inputBtn:hover {
    border-color: rgb(60, 90, 56);
    background-color: rgb(230, 230, 230);
}
/*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}
}
/*===================================================*/
/*===================================================*/

/*===================================================*/
/*          LG lARGE SCREEN PC PORTATIL             */
/*===================================================*/
@media (min-width: 992px) and (max-width: 1199px){
    /*==============================*/
    /*   CONFIGURACION DE PAGINA    */
    /*==============================*/
    .continitial {
        position: relative;
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 100%;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    #cont-menu-logo {
        margin-left: 50px;
    }

    .nav-item {
        padding-left: 50px;
    }
    .nav-link {
        padding-left: 0%!important;
        padding-right: 0%!important;
    }
    /*······························*/
    /*     CONTENIDO DE INICIO      */
    /*······························*/
    
    
    
    /*······························*/
    /*     HIERBAS INFORMATION      */
    /*              &               */
    /*   CONDIMENTOS INFORMATION    */
    /*······························*/
    #cont_hierbas, #cont_condimentos {
        margin-top: 10%;
        margin-bottom: 5%;
        height: 350px;
        width: 100%;
    }

    #carousel_Herbs_Sectiom {
        height: 390px;
        width: 100%;
    }
    
    .carousel-item > div > h2 {
        text-align: center;
        font-size: 20px;
        padding-top: 15%;
    }
    
    /*------ BOXES ------- */
    #box_hierbas {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    .HRBPLink {
        color: black;
        font-weight: 600;
        font-size: 22px;
    }
    .Herbimgs {
        height: auto;
        width: 100%;
    }
    .contimgbox {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgba(134, 134, 134, 0.5) 10px 15px 20px 15px;
    }
    @media (min-width: 992px) and (max-width: 1149px){
        #cont_box0 {
            width: 100%;
            height: auto;
        }
        .box0 {
            width: 99%;
            height: auto;
            border-right: rgb(0, 0, 0) 1px solid;
            float: left;
        }
        #box3 {
            border-right: none;
        }
        #box4 {
            display: none;
        }
        #cont_boxText0 {
            width: 100%;
            height: auto;
            margin-top: 50px;
        }
        .boxText {
            height: auto;
            float: left;
            text-align: center;
        }
        #boxT4 {
            display: none;
        }
    }
    @media (min-width: 1150px) and (max-width: 1199px){
        #cont_box0 {
            width: 100%;
            height: auto;
        }
        .box0 {
            width: 99%;
            height: auto;
            border-right: rgb(0, 0, 0) 1px solid;
            float: left;
        }
        #box3 {
            border-right: none;
        }
        #box4 {
            display: none;
        }
        #cont_boxText0 {
            width: 100%;
            height: auto;
            margin-top: 50px;
        }
        .boxText {
            height: auto;
            float: left;
            text-align: center;
        }
        #boxT4 {
            display: none;
        }
    }
    /*------ BOXES ------- */
    #box_condimentos {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    #boxbaseCond1 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond2 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond3 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond4 {
        display: none;
    }
    .line {
        border-right: rgb(194, 194, 194) 1px solid;
    }
    .condboximg {
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-top: 27.5px;
        box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
    }
    .condimg {
        width: 100%;
        height: auto;
    }
    /*···················*/
    /*   BOX NOSOTROS    */
    /*···················*/
    #box_about {
        background-color: rgb(255, 255, 255);
        height: 380px;
        width: 100%;
        margin-bottom: 5%;
        box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
    }
    #logo_contain {
        height: 320px;
        width: 90%;
        margin-left: 5%;
        top: 10px;
    }
    #imgLogo {
        height: auto;
        top: 33.5px;
        padding: 0px;
        float: left;
    }
    #mslogo {
        width: 100%;
        height: auto;
    }
    #imgLgText {
        height: 300px;
        float: left;
        top: 10px;
        text-align: center;
        padding-top: 7%;
    }
    #titleAbout {
        color: black;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
    }
    .pxta {
        font-family: sans-serif;
        font-size: 19px;
    }
    #pxta1 {
        width: 100%;
        height: 100px;
        margin-top: 20px;
    }
    #pxta2 {
        display: none;
    }
    /*···················*/
    /*   BOX NETWORK     */
    /*···················*/
    #box_socialnet {
        height: 150px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #socialinks {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .imgSNet {
        top: 10px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .imgsNetSize {
        width: 46px;
        height: 46px;
    }
    #registerbox {
        margin-top: 35px;
        height: 80px;
        width: 100%;
        text-align: center;
    }
    #titleBoxReg {
        font-family: sans-serif;
        font-size: 20px;
        color: black;
    }
    #formInput {
        position: relative;
        top: 20px;
    }
    #inputReg {
        width: 55%;
        height: 50px;
        font-size: 20px;
        padding-left: 45px;
        color: rgb(71, 71, 71);
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #inputBtn {
        height: 50px;
        width: 15%;
        font-size: 20px;
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-radius: 15px;
    }
    #inputBtn:hover {
        border-color: rgb(60, 90, 56);
        background-color: rgb(230, 230, 230);
    }
    /*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}
}
/*===================================================*/
/*===================================================*/
    
/*===================================================*/
/*           XL EXTRA LARGE SCREEN DESKTOP           */
/*===================================================*/
@media (min-width: 1200px){
    /*==============================*/
    /*   CONFIGURACION DE PAGINA    */
    /*==============================*/
    .continitial {
        position: relative;
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    #cont-menu-logo {
        margin-left: 0px;
    }
    .nav-item {
        padding-left: 50px;
    }
    /*······························*/
    /*     CONTENIDO DE INICIO      */
    /*······························*/
    
    
    
    /*······························*/
    /*     HIERBAS INFORMATION      */
    /*              &               */
    /*   CONDIMENTOS INFORMATION    */
    /*······························*/
    #cont_hierbas, #cont_condimentos {
        margin-top: 5%;
        margin-bottom: 1%;
        height: 390px;
        width: 100%;
    }

    #carousel_Herbs_Sectiom {
        height: 390px;
        width: 100%;
    }
    
    .carousel-item > div > h2 {
        text-align: center;
        font-size: 20px;
        padding-top: 15%;
    }
    
    /*================*/
    /*================*/
    /*------ BOXES HIERBAS ------- */
    #box_hierbas {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    .HRBPLink {
        color: black;
        font-weight: 600;
        font-size: 23px;
    }
    /*================*/
    /*================*/
    /*================*/
    #cont_box0 {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 50px;
    }
    .box0 {
        width: 99%;
        height: auto;
        border-right: rgb(161, 161, 161) 1px solid;
        float: left;
    }
    #box4 {
        border-right: none;
    }
    .Herbimgs {
        height: auto;
        width: 100%;
    }
    .contimgbox {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgba(134, 134, 134, 0.5) 10px 15px 20px 15px;
    }
    /*================*/
    /*================*/
    #cont_boxText0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
        text-align: center;
    }
    .boxText {
        height: auto;
        float: left;
        text-align: center;
    }
    /*================*/
    /*================*/
    /*------ BOXES CONDIMENTOS ------- */
    #box_condimentos {
        margin-bottom: 5%;
        margin-top: 30px;
        height: auto;
        width: 100%;
    }
    #boxbaseCond1 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond2 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond3 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond4 {
        height: auto;
        width: 100%;
    }
    .line {
        border-right: rgb(194, 194, 194) 1px solid;
    }
    .condboximg {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
    }
    .condimg {
        width: 100%;
        height: auto;
    }
    /*···················*/
    /*   BOX NOSOTROS    */
    /*···················*/
    #box_about {
        background-color: rgb(255, 255, 255);
        height: 400px;
        width: 100%;
        margin-bottom: 5%;
        box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
    }
    #logo_contain {
        height: 380px;
        width: 100%;
        top: 10px;
    }
    #imgLogo {
        width: 100%;
        height: 316px;
        top: 33.5px;
        padding: 0px;
        float: left;
    }
    #boxlogo {
        height: 316px;
        width: 100%;
        text-align: center;
    }
    #mslogo {
        width: 443px;
        height: 316px;
    }
    #imgLgText {
        height: 300px;
        float: left;
        top: 30px;
        text-align: center;
        padding-top: 3%;
    }
    #titleAbout {
        font-size: 25px;
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
        color: black;
    }
    .pxta {
        font-family: sans-serif;
        font-size: 17px;
        margin-left: 5%;
        margin-right: 5%;       
        width: 90%;
        height: 70px;
    }
    #pxta1 {
        margin-top: 20px;
    }
    #pxta2 {
        margin-top: 5px;
    }
    /*···················*/
    /*   BOX NETWORK     */
    /*···················*/
    #box_socialnet {
        height: 150px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #socialinks {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .imgSNet {
        top: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .imgsNetSize {
        width: 46px;
        height: 46px;
    }
    #registerbox {
        margin-top: 35px;
        height: 80px;
        width: 100%;
        text-align: center;
    }
    #titleBoxReg {
        font-family: sans-serif;
        font-size: 20px;
        color: black;
    }
    #formInput {
        position: relative;
        top: 20px;
    }
    #inputReg {
        width: 45%;
        height: 50px;
        font-size: 18px;
        padding-left: 45px;
        color: rgb(71, 71, 71);
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #inputBtn {
        height: 50px;
        width: 15%;
        font-size: 18px;
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-radius: 15px;
    }
    #inputBtn:hover {
        border-color: rgb(60, 90, 56);
        background-color: rgb(230, 230, 230);
    }
    /*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}
}
@media (min-width: 1300px){
    /*==============================*/
    /*   CONFIGURACION DE PAGINA    */
    /*==============================*/
    .continitial {
        position: relative;
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    /*······························*/
    /*     CONTENIDO DE INICIO      */
    /*······························*/
    
    
    
    /*······························*/
    /*     HIERBAS INFORMATION      */
    /*              &               */
    /*   CONDIMENTOS INFORMATION    */
    /*······························*/
    #cont_hierbas, #cont_condimentos {
        margin-top: 5%;
        margin-bottom: 1%;
        height: 390px;
        width: 100%;
    }

    #carousel_Herbs_Sectiom {
        height: 390px;
        width: 100%;
    }
    
    .carousel-item > div > h2 {
        text-align: center;
        font-size: 20px;
        padding-top: 12%;
    }
    
    /*------ BOXES HIERBAS ------- */
    #box_hierbas {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    #cont_box0 {
        width: 100%;
        height: auto;
    }
    .Herbimgs {
        height: auto;
        width: 100%;
    }
    .contimgbox {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgba(134, 134, 134, 0.5) 10px 15px 20px 15px;
    }
    #cont_boxText0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .boxText {
        height: auto;
        float: left;
        text-align: center;
    }
    /*······························*/
    /*------ BOXES CONDIMENTOS ------- */
    #box_condimentos {
        margin-bottom: 5%;
        margin-top: 30px;
        height: auto;
        width: 100%;
    }
    #boxbaseCond1 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond2 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond3 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond4 {
        height: auto;
        width: 100%;
    }
    .line {
        border-right: rgb(194, 194, 194) 1px solid;
    }
    .condboximg {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
    }
    .condimg {
        width: 100%;
        height: auto;
    }
    /*···················*/
    /*   BOX NOSOTROS    */
    /*···················*/
    #box_about {
        background-color: rgb(255, 255, 255);
        height: 400px;
        width: 100%;
        margin-bottom: 5%;
        box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
    }
    #logo_contain {
        height: 380px;
        width: 100%;
        top: 10px;
    }
    #imgLogo {
        width: 100%;
        height: 316px;
        top: 33.5px;
        padding: 0px;
        float: left;
    }
    #boxlogo {
        height: 316px;
        width: 100%;
        text-align: center;
    }
    #mslogo {
        width: 443px;
        height: 316px;
    }
    #imgLgText {
        height: 300px;
        float: left;
        top: 30px;
        text-align: center;
        padding-top: 3%;
    }
    #titleAbout {
        font-size: 25px;
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
        color: black;
    }
    .pxta {
        font-family: sans-serif;
        font-size: 17px;
        margin-left: 5%;
        margin-right: 5%;       
        width: 90%;
        height: 70px;
    }
    #pxta1 {
        margin-top: 20px;
    }
    #pxta2 {
        margin-top: 5px;
    }
    /*···················*/
    /*   BOX NETWORK     */
    /*···················*/
    #box_socialnet {
        height: 150px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #socialinks {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .imgSNet {
        top: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .imgsNetSize {
        width: 46px;
        height: 46px;
    }
    #registerbox {
        margin-top: 35px;
        height: 80px;
        width: 100%;
        text-align: center;
    }
    #titleBoxReg {
        font-family: sans-serif;
        font-size: 20px;
        color: black;
    }
    #formInput {
        position: relative;
        top: 20px;
    }
    #inputReg {
        width: 35%;
        height: 50px;
        font-size: 18px;
        padding-left: 45px;
        color: rgb(71, 71, 71);
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #inputBtn {
        height: 50px;
        width: 15%;
        font-size: 18px;
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-radius: 15px;
    }
    #inputBtn:hover {
        border-color: rgb(60, 90, 56);
        background-color: rgb(230, 230, 230);
    }
    /*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}
}
@media (min-width: 1600px){
    /*==============================*/
    /*   CONFIGURACION DE PAGINA    */
    /*==============================*/
    .continitial {
        position: relative;
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    /*······························*/
    /*     CONTENIDO DE INICIO      */
    /*······························*/
    
    
    
    /*······························*/
    /*     HIERBAS INFORMATION      */
    /*              &               */
    /*   CONDIMENTOS INFORMATION    */
    /*······························*/
    #cont_hierbas, #cont_condimentos {
        margin-top: 5%;
        margin-bottom: 1%;
        height: 390px;
        width: 100%;
    }

    #carousel_Herbs_Sectiom {
        height: 390px;
        width: 100%;
    }
    
    .carousel-item > div > h2 {
        text-align: center;
        font-size: 20px;
        padding-top: 12%;
    }
    
    /*------ BOXES HIERBAS ------- */
    #box_hierbas {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    #cont_box0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .box0 {
        width: 100%;
    }
    .Herbimgs {
        height: 350px;
        width: auto;
    }
    .contimgbox {
        width: 65%;
        height: auto;
        box-shadow: rgba(134, 134, 134, 0.5) 20px 15px 20px 15px;
    }
    #cont_boxText0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .boxText {
        height: auto;
        float: left;
        text-align: center;
    }
    /*······························*/
    /*------ BOXES CONDIMENTOS ------- */
    #box_condimentos {
        margin-bottom: 5%;
        margin-top: 30px;
        height: auto;
        width: 100%;
    }
    #boxbaseCond1 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond2 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond3 {
        height: auto;
        width: 100%;
    }
    #boxbaseCond4 {
        height: auto;
        width: 100%;
    }    
    .line {
        border-right: rgb(194, 194, 194) 1px solid;
    }
    .condboximg {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
    }
    .condimg {
        width: 100%;
        height: auto;
    }
    /*···················*/
    /*   BOX NOSOTROS    */
    /*···················*/
    #box_about {
        background-color: rgb(255, 255, 255);
        height: 400px;
        width: 100%;
        margin-bottom: 5%;
        box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
    }
    #logo_contain {
        height: 380px;
        width: 100%;
        top: 10px;
    }
    #imgLogo {
        width: 100%;
        height: 316px;
        top: 33.5px;
        padding: 0px;
        float: left;
    }
    #boxlogo {
        height: 316px;
        width: 90%;
        margin-left: 10%;
        text-align: center;
    }
    #mslogo {
        width: 443px;
        height: 316px;
    }
    #imgLgText {
        height: 316px;
        float: left;
        top: 33.5px;
        text-align: center;
    }
    #titleAbout {
        font-size: 25px;
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
        margin-right: 20%;
        color: black;
    }
    .pxta {
        font-family: sans-serif;
        font-size: 17px;
        margin-left: 5%;
        margin-right: 5%;       
        width: 70%;
        height: 70px;
    }
    #pxta1 {
        margin-top: 20px;
    }
    #pxta2 {
        margin-top: 5px;
    }
    #pxta3 {
        margin-right: 20%;
    }
    /*···················*/
    /*   BOX NETWORK     */
    /*···················*/
    #box_socialnet {
        height: 150px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #socialinks {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .imgSNet {
        top: 10px;
        padding-left: 55px;
        padding-right: 55px;
    }
    .imgsNetSize {
        width: 46px;
        height: 46px;
    }
    #registerbox {
        margin-top: 35px;
        height: 80px;
        width: 100%;
        text-align: center;
    }
    #titleBoxReg {
        font-family: sans-serif;
        font-size: 20px;
        color: black;
    }
    #formInput {
        position: relative;
        top: 20px;
    }
    #inputReg {
        width: 35%;
        height: 50px;
        font-size: 18px;
        padding-left: 45px;
        color: rgb(71, 71, 71);
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #inputBtn {
        height: 50px;
        width: 15%;
        font-size: 18px;
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-radius: 15px;
    }
    #inputBtn:hover {
        border-color: rgb(60, 90, 56);
        background-color: rgb(230, 230, 230);
    }
    /*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}
}
@media (min-width: 1800px){
    /*==============================*/
    /*   CONFIGURACION DE PAGINA    */
    /*==============================*/
    .continitial {
        position: relative;
        top: 0;
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: auto;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    
    /*······························*/
    /*     CONTENIDO DE INICIO      */
    /*······························*/

    
    
    /*······························*/
    /*     HIERBAS INFORMATION      */
    /*              &               */
    /*   CONDIMENTOS INFORMATION    */
    /*······························*/
    #cont_hierbas, #cont_condimentos {
        margin-top: 5%;
        margin-bottom: 1%;
        height: 390px;
        width: 100%;
    }

    #carousel_Herbs_Sectiom {
        height: 390px;
        width: 100%;
    }

    .carousel-item > div > h2 {
        text-align: center;
        font-size: 50px;
        padding-top: 9%;
    }



    /*------ BOXES HIERBAS ------- */
    #box_hierbas {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
    }
    #cont_box0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
        text-align: center;
    }
    .box0 {
        width: 100%;
    }
    .Herbimgs {
        height: 350px;
        width: auto;
    }
    .contimgbox {
        width: 60%;
        height: auto;
        margin-left: 17.5%;
        box-shadow: rgba(134, 134, 134, 0.5) 10px 15px 20px 15px;
    }
    #cont_boxText0 {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .boxText {
        height: auto;
        float: left;
        text-align: center;
    }
    /*······························*/
    /*------ BOXES CONDIMENTOS ------- */
    #box_condimentos {
        margin-bottom: 5%;
        height: auto;
        width: 100%;
        margin-top: 70px;
    }
    #boxbaseCond1 {
        height: auto;
        width: 99%;
    }
    #boxbaseCond2 {
        height: auto;
        width: 99%;
    }
    #boxbaseCond3 {
        height: auto;
        width: 99%;
    }
    #boxbaseCond4 {
        height: auto;
        width: 99%;
    }
    .line {
        border-right: rgb(194, 194, 194) 1px solid;
    }
    .condboximg {
        width: 80%;
        height: auto;
        margin-left: 10%;
        box-shadow: rgb(195, 194, 194) 1px 1px 15px 10px;
    }
    .condimg {
        width: 100%;
        height: auto;
    }
    /*···················*/
    /*   BOX NOSOTROS    */
    /*···················*/
    #box_about {
        background-color: rgb(255, 255, 255);
        height: 420px;
        width: 100%;
        margin-bottom: 5%;
        box-shadow: rgb(209, 209, 209) 1px 1px 20px 5px;
    }
    #logo_contain {
        height: 380px;
        width: 100%;
        top: 10px;
    }
    #imgLogo {
        width: 100%;
        height: 316px;
        top: 33.5px;
        padding: 0px;
        float: left;
    }
    #boxlogo {
        height: 316px;
        width: 90%;
        margin-left: 10%;
        text-align: center;
    }
    #mslogo {
        width: 443px;
        height: 316px;
    }
    #imgLgText {
        height: 316px;
        float: left;
        top: 33.5px;
        text-align: center;
    }
    #titleAbout {
        font-size: 25px;
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
        margin-right: 20%;
        color: black;
    }
    .pxta {
        font-family: sans-serif;
        font-size: 17px;
        margin-left: 5%;
        margin-right: 5%;       
        width: 70%;
        height: 70px;
    }
    #pxta1 {
        margin-top: 20px;
    }
    #pxta2 {
        margin-top: 5px;
    }
    #pxta3 {
        margin-right: 20%;
    }
    /*···················*/
    /*   BOX NETWORK     */
    /*···················*/
    #box_socialnet {
        height: 250px;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    #socialinks {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .imgSNet {
        top: 10px;
        padding-left: 55px;
        padding-right: 55px;
    }
    .imgsNetSize {
        width: 32px;
        height: 32px;
    }
    #registerbox {
        margin-top: 40px;
        height: 80px;
        width: 100%;
        text-align: center;
    }
    #titleBoxReg {
        font-family: sans-serif;
        font-size: 25px;
        color: black;
    }
    #formInput {
        position: relative;
        top: 30px;
    }
    #inputReg {
        width: 35%;
        height: 50px;
        font-size: 18px;
        padding-left: 45px;
        color: rgb(71, 71, 71);
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #inputBtn {
        height: 50px;
        width: 15%;
        font-size: 18px;
        background-color: rgb(223, 223, 223);
        border-color: transparent;
        border-radius: 15px;
    }
    #inputBtn:hover {
        border-color: rgb(60, 90, 56);
        background-color: rgb(230, 230, 230);
    }
    /*=============*/
/*=============*/
footer {
    width: 100%;
}
#footbar {
    width: 100%;
    height: 45px;
    background-color: rgb(22, 19, 19);
    text-align: center;
}
#textfoot_1 {
    position: relative;
    top: 8px;
    font-size: 12px;
    color: white;
}
}
/*===================================================*/
/*===================================================*/
